[Unit]
Description=Set PHC VIDS
After=sleep.target
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target
After=basic.target

[Service]
Type=oneshot
ExecStart=/usr//bin/pyphctool -setvids /etc/phc/vids.conf
RemainAfterExit=yes

[Install]
WantedBy=basic.target
